*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-principal{
    background-color: #183461;
    height: auto;
}

.card-character-body h5,.celda_tipo_egreso{
    background-color: #fa9c06;
    border-radius: 5px;
}


#form-insert-movimiento button,#btnSearchAll,#btnFilter,#btnAplicarFilter,#close-modal,#btnClearSearch{
    background-color: #fa9c06;
}


.celda_tipo_ingreso{
    background-color: #183461;
    border-radius: 5px;
}

#filterSection{
    transition: height 0.5s ease-in-out; /* Controla la transición */
}
